html, 
body {
  min-width: 1020px;
  height: 100%;
  font: 10px 'Lato', 'Arial', sans-serif;
}

body {
  color: #ffffff;
  margin: 0;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  position: relative;
  right: 2px;
  bottom: 2px;
  line-height: 26px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

