header {
  background: #323232;
}

.header-wrapper {
  width: 370px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  flex-grow: 1;
}

.header-logo {
  width: 90px;
  height: 63px;
  margin: 0 25px;
}