.about {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2eb398;
}

.about-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 820px;
  margin: 12.5px;

  border-right: solid #219d84 1px;
  border-left: solid #219d84 1px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 780px;
  padding: 25px 0;
}

.author-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-img-container img {
  height: 100%;
  margin: 0 0 1px 4px;
}

.author-personal-info {
  text-transform: capitalize;
}

.author-personal-info h2 {
  margin: 0;

  color: #20816d;
}

section.about .hexagon-wrapper {
  position: relative;
  right: 10px;

  display: flex;
}

.author-description p {
  margin: 14px 0 36px 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 21.56px;
  font-family: "Lato", sans-serif;
  text-align: justify;
}

.author-social-links {
  position: relative;
  top: 1px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.author-social-links a i {
  position: relative;
  top: 1px;
  right: 1px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  font-size: 12px;
  color: #04ac95;
  text-decoration: none;;
}

.social-links:nth-child(2n+1) {
  width: 25px;
}

.social-links-facebook {
  background: #a5dbd4;
}

.social-links-twitter {
  background: #6ccbbe;
}

.social-links-gplus {
  background: #7ed0c5;
}

.social-links-pinterest {
  background: #acddd7;
}

.social-links-linkedin {
  background: #abddd6;
}

.social-links-dribble {
  background: #6dcbbe;
}

.social-links:hover {
  color: #ffffff;
}

.social-links-facebook:hover {
  background: #3660a0;
}

.social-links-twitter:hover {
  background: #2ca9e1;
}

.social-links-gplus:hover {
  background: #dc5443;
}

.social-links-pinterest:hover {
  background: #cb2027;
}

.social-links-linkedin:hover {
  background: #096c9b;
}

.social-links-dribble:hover {
  background: #ef558e;
}
