.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #323232;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  width: 780px;
  margin: 13px 0 11px 0;
  padding: 52px 90px;

  border-top: solid #2b2b2b 1px;
  border-bottom: solid #2b2b2b 1px;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

section.contact h2 {
  margin: 0 0 5px 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 22px;
  font-family: "Maven Pro", sans-serif;
  text-transform: capitalize;
}

section.contact h3 {
  margin: 0 0 20px 0;

  font-weight: 400;
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
  color: #bebebe;
}

.contact-form fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
  padding: 0;

  border: none;
}

.contact-form fieldset input,
.contact-form fieldset textarea {
  display: block;
  width: 552px;
  height: 38px;
  margin: 0 0 16px;
  padding: 0 14px;

  font: 12px "Lato", sans-serif;
  color: #bebebe;

  background: #454545;
  border: none;

  resize: none;
}

.contact-form fieldset input::placeholder,
.contact-form fieldset textarea::placeholder {
  color: #bebebe;
}

.contact-form fieldset .contact-form-message {
  height: 134px;
  padding: 8px 14px;

  line-height: 22px;
}

.contact-form fieldset .contact-form-submit {
  width: 90px;
  margin: 0;
  margin-left: auto;
  padding: 0 0 2px 0;

  color: #d7fcf5;
  text-transform: uppercase;

  background: #2eb398;
  cursor: pointer;
}

.contact-description {
  position: relative;
  bottom: 5px;
}

.contact-description p {
  margin: 0;

  font: 400 12px Lato, sans-serif;
  line-height: 21.56px;
  text-align: justify;
  color: #e0e0e0;
}

.contact-description p strong {
  font: 900 12px Lato, sans-serif;
}

.contact address {
  margin: 31px 0 0 0;
}

.contact address p {
  margin: 0;
}

.contact address p i {
  margin-right: 12px;
  padding-left: 1px;

  font-size: 11px;
}

.contact address a i {
  margin-right: 10px;

  font-size: 11px;
}


.contact address a,
.contact address p {
  display: inline-block;

  font: 700 12px Lato, sans-serif;
  line-height: 21.56px;
  color: #bebebe;
  text-decoration: none;
}

.contact address i {
  color: #2eb398;
}

.copyright {
  background-color: #222222;
}

.copyright p {
  margin: 0 39px;
  padding: 14px 0;
}

.copyright small {
  font: 400 12px "Maven Pro", sans-serif;
  color: #454545;
}