.header {
  background: #323232;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  width: 820px;
}

.header-navbar {
  margin: 0 auto;
  padding: 0 0 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: auto auto 21px auto;
  text-transform: uppercase;
  flex-grow: 1;
}

.header-menu li:first-child {
  margin-right: 20px;
}

.header-menu.menu-left {
  justify-content: flex-end;
}

.header-menu.menu-left li:first-child .nav-link {
  color: #2eb398;
}

.header-logo {
  width: 90px;
  height: 63px;
  margin: 0 26px 0 25px;
}

.header-logo .logo {
  display: block;
  margin: 10px auto 0 auto;
}

.header-logo::after {
  content: '';
  position: relative;
  left: 1px;
  top: 24px;
  border-style: solid;
  border-width: 26px 45px 0 45px;
  border-color: #323232 transparent transparent transparent;
}

.header-menu.menu-left li:nth-child(2)::before {
  content: '•';
  font-size: 5px;
  position: relative;
  bottom: 1px;
  right: 26%;
  color: #494e62;
}

.header-menu.menu-right li:nth-child(2)::before {
  content: '•';
  font-size: 5px;
  position: relative;
  bottom: 1px;
  right: 14%;
  color: #494e62;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover {
  color: #2eb398;
}