header {
  background: #323232;
}

.header-wrapper {
  width: 370px;
  margin: 0 auto;
  padding: 0 0 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: auto auto 21px auto;
  text-transform: uppercase;
  flex-grow: 1;
}

.header-logo {
  width: 90px;
  height: 63px;
  margin: 0 26px 0 25px;
  background: url("../../assets/logo.png") center bottom no-repeat;
}

.header-logo::after {
  content: '';
  position: relative;
  left: 0px;
  top: 89px;
  border-style: solid;
  border-width: 26px 45px 0 45px;
  border-color: #323232 transparent transparent transparent;
}

.header-menu.menu-left li:nth-child(2)::before {
  content: '•';
  font-size: 5px;
  position: relative;
  bottom: 1px;
  right: 24%;
  color: #494e62;
}

.header-menu.menu-right li:nth-child(2)::before {
  content: '•';
  font-size: 5px;
  position: relative;
  bottom: 1px;
  right: 12%;
  color: #494e62;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover {
  color: #2eb398;
}